footer.site-footer {
    padding: 20px 0 var(--section-separation) 0;
    font-size: 1.8rem;
    line-height: 1.75;


    .copyright {
        color: var(--accent-color);
        font-weight: bold;
        margin-bottom: 5px;
    }

    .powerby {
        color: var(--body-text-color);
        font-weight: normal;
        font-size: 2rem;
        text-align: center;
        margin-left: 0%;

        a {
            color: var(--body-text-color);
        }
    }
}
